# Fichiers SQL
*.sql

# Dossier mosquitto
mosquitto/

# Fichiers Docker
Dockerfile
docker-compose.yml

# Fichiers de documentation
*.md

# Git
.git
.gitignore

# Fichiers temporaires
*.log
*.bak
*.swp
*.tmp